/* CSS definition file containing site stylesheet */
body {}
#content {
    width:100%; 
    margin-left:5% auto;
    margin-right:5% auto;
}

#footer {
    font-size: small; 
    font-style:italic;
    text-align:center;
}

.row>div {
    margin-bottom:10px;
}

.banner {
    display: block;
    margin: 5px 20px 5px 20px;
    width: 85%;
}

.text {
    display: block;
    margin: auto 50px auto 125px;
    width: 70%;
}
